spring:
  application:
    name: AppointmentService
  datasource:
    url: jdbc:mysql://localhost:3306/himsdb?useSSL=false&serverTimezone=UTC
    username: root
    password: Root123$
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
server:
  port: 8084

eureka:
  client: 
    service-url: 
     defaultZone: http://localhost:8761/eureka