server:
  port: 8089

spring:
  application:
    name: doctor-service

  datasource:
    url: jdbc:mysql://localhost:3306/doctorDB
    username: root
    password: Root123$
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  # Disable Spring Cloud Config by commenting out this part
#  cloud:
#    config:
      # uri: http://localhost:8888  # Comment this line if you don't need Spring Cloud Config

logging:
  level:
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG

# To handle errors globally (like 404, 500)
  error:
    include-message: always
    include-binding-errors: always

  cloud:
    discovery:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
    healthcheck:
      enabled: true
  instance:
    hostname: ip-172-31-8-73
