server:
  port: 8089

spring:
  application:
    name: DoctorService

  datasource:
    url: jdbc:mysql://localhost:3306/doctorDB
    username: root
    password: Root123$
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true



